#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Авторизация' /}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <form role="form" method="post" action="@{Auth.doSignIn()}">
                <div class="form-group">
                    <label for="inputLogin">Логин</label>
                    <input name="user.nick" value="${flash['user.nick']}" class="form-control" id="inputLogin"
                           placeholder="Введите логин" type="text">
                </div>
                <div class="form-group">
                    <label for="inputPwd">Пароль</label>
                    <input name="user.password" value="${flash['user.password']}" class="form-control" id="inputPwd"
                           placeholder="Введите логин" type="password">
                    #{error 'user.nick'/}
                </div>
                <button type="submit" class="btn btn-default">Авторизироваться</button>


            </form>
        </div>
    </div>
</div>