#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Регистрация' /}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <form role="form" method="post" action="@{Auth.doSignUp()}">
                <div class="form-group">
                    <label for="inputNick">Ник </label>
                    <input type="text" class="form-control" id="inputNick" placeholder="Введите ник"
                           name="user.nick" value="${flash['user.nick']}">
                </div>
                #{error 'user.nick'/}
                <div class="form-group">
                    <label for="inputEmail">E-mail </label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Введите e-mail"
                           name="user.email" value="${flash['user.email']}">
                </div>
                #{error 'user.email'/}
                <div class="form-group">
                    <label for="inputPassword">Пароль </label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль"
                           name="user.password" value="${flash['user.password']}">
                </div>
                #{error 'user.password'/}
                <div class="form-group">
                    <label for="inputCity">Город </label>
                    <select class="form-control" id="inputCity" name="city">
                    #{list items:cities, as:'city' }
                        <option value="${city.id}">${city.name}</option>
                    #{/list}
                    </select>
                </div>

                <button type="submit" class="btn btn-default">Зарегистрироваться</button>
            </form>

        </div>
        <div class="col-md-6"></div>
    </div>
</div>