#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Управление ресурсом' /}

#{set 'moreStyles'}
    #{stylesheet 'font-awesome.min.css'/}
    #{stylesheet 'summernote.css'/}
#{/set}


<div class="container">
    <div class="row" ng-controller="ArticleController">
        <div class="col-md-10">

            <form role="form" method="post"  ng-submit="newArticle()">
                <div class="form-group">
                    <label>Название фото</label>
                    <input type="text" class="form-control" ng-model="photoName">
                </div>
                <div class="form-group">
                    <label>Источник</label>
                    <input type="text" class="form-control" ng-model="photoSource">
                </div>
                <div class="form-group">
                    <label>Загрузите фото</label>
                    <input type="file" class="form-control" fileread="photo">
                </div>

                <div class="form-group">
                    <label for="inputTitle">Заголовок</label>
                    <input type="text" id="inputTitle" class="form-control" ng-model="articleHeader">
                </div>

                <div class="form-group">
                    <label>Краткое описание</label>
                    <input type="text" ng-model="articleShot" class="form-control">
                </div>
                <div class="form-group">
                    <label>Статья</label>
                    <summernote ng-model="articleBody" height="200"></summernote>
                </div>
                <div class="form-group">
                    <label for="inputPublished">Публиковать сразу?</label>
                    <input type="checkbox" id="inputPublished" ng-model="articleIsPub">
                </div>

                <div class="form-group">
                    <label>Рубрика</label>
                    <select class="form-control" id="selectCategory" ng-model="articleCategory">
                        #{list items:categories, as:'c' }
                            <option value="${c.id}">${c.name}</option>
                        #{/list}
                    </select>
                </div>

                <button id="newArticle">Сохранить</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>