#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Управление ресурсом' /}

<div class="container">
    <div class="row">
        <div class="col-md-6">
           #{a @admin.Article.newArticle()}Создать статью#{/a}
           #{a @admin.Category.newCategory()}Создать категорию#{/a}

        </div>
    </div>
</div>