a {
    color: #1a1a1a;
    text-decoration: none;
}
a:hover, a:focus {
    color: #9a8f7b;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

a:visited {
    color: #656565;
}

.article-author{
    color: #1a1a1a;
    margin-top: -14px;
}

.article-author .name {
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
}

.article-body {
    margin-top: 35px;
}
.article-body-shot {
    color: #595959;
    font-family: "Littera Plain Book",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 25px;
    margin-top: 8px;
}

.article-datePublished {
    margin-top: 2px;
}

.article-date {
    color: #999;
    font-family: "Littera Plain","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
}

.article-info {
    margin-top: 50px;
}

.article-title {
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 34px 0 0;
}

.article-social {
    border-top: 1px solid #e6e6e6;
    margin-top: 32px;
    padding: 40px 0;
}

.drop {
    border: 2px dashed #f1f1f1;
    border-radius: 5px;
    line-height: 34px;
    padding: 15px;
}

.menu {
    font-size: 17px;
    font-weight: bold;
    height: 32px;
    position: relative;
    top: 79px;
}

.menu-category {
    font-size: 17px;
    font-weight: bold;
    height: 32px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.menu .menu-item-left {
    color: #000000;
    font-size: 18px;
    display: inline;
    float: left;
    text-align: center;
}

.menu .menu-item-right {
    color: #000000;
    font-size: 18px;
    display: inline;
    float: right;
    text-align: center;
}

.menu a, .menu-category a {
    border: 1px solid transparent;
    color: #252525;
    display: inline-block;
    height: 32px;
    line-height: 34px;
    margin: 0 15px;
    padding: 0 15px;
    vertical-align: middle;
}


.menu a:visited {
    color: #252525;
}
.menu a:hover {
    color: #9a8f7b;
}
.menu .active {
    border-color: #e6e6e6 !important;
    color: #9a8f7b !important;
    cursor: default;
}

.menu-top-line {
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
    height: 40px;
}

.menu-top-line a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 25px;
    vertical-align: middle;
}

.menu-header {
    border-bottom: 1px solid #e6e6e6;
    height: 140px;
}


.menu-logo {
    color: #000000;
    font-size: 30px;
}

.footer {
    background-color: #f5f5f5;
    height: 95px;
}

.wrapper {
    margin-top: 30px;
}

