#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Статьи' /}

<div class="container">
    <div class="row">
        <div class="col-md-10">

            <div class="row">
                    <div class="col-md-3">
                        <div class="article-info">
                            <div class="article-author">
                                <span class="name">
                                    ${a.user.nick}
                                </span>
                            </div>

                            <div class="article-date article-datePublished">
                            ${a.datePublished.format("hh:mm dd MMM yyyy")}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <h1 class="article-title">${a.header}</h1>
                        <div class="article-body-shot">${a.shotTitle}</div>

                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="article-title-photo">
                        <img src="/public/uploads/${a.image.path}" alt="${a.image.description}" width="100%">
                        <div class="article-label">
                            <div class="article-label-description">
                            ${a.image.description}
                            </div>
                            <div class="article-label-info">
                                ${a.image.source}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="article-body">
                        ${body.raw()}
                    </div>
                    <section class="article-social">
                    </section>
                </div>
            </div>
       </div>
        <div class="col-md-2">

        </div>
    </div>
</div>