#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Статьи' /}

#{include 'article_category.html'/}

<div class="container">
    <div class="row">
        <div class="col-md-10">

        #{list items:articles, as:'c' }
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>#{a @Article.article(c.id)}${c.header}#{/a}</h4>
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: right;">${c.datePublished.format("dd MMM yyyy")}</p>
                    </div>
                </div>
            </div>

        #{/list}
        </div>
    </div>
</div>
