#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Управление ресурсом' /}

#{set 'moreStyles'}
    #{stylesheet 'font-awesome.min.css'/}
    #{stylesheet 'summernote.css'/}
#{/set}

<div class="container">
    <div class="row">
        <div class="col-md-10">

            <form action="@{admin.Category.doNewCategory()}" role="form" method="post" >
                <div class="form-group">
                    <label>Новая категория</label>
                    <input type="text" class="form-control" name="category.name">
                </div>
                <div class="form-group">
                    <label>Рубрика</label>
                    <select class="form-control" id="selectCategory" name="category.parent">
                    #{list items:categories, as:'c' }
                        <option value="${c.id}">${c.name}</option>
                    #{/list}
                    </select>
                </div>
                <button id="newArticle">Сохранить</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
