<div class="row">
    <div class="col-md-12">
        <div class="menu-category">
        #{list items:categories, as:'category' }
            <a>${category.name}</a>

        #{/list}
        </div>
    </div>
</div>