#{extends 'main.html' /}
#{set title:'Кузбасский информационный портал для родителей - Статьи' /}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2> Профиль </h2>
            <div class="row">
                <div class="col-md-5">
                    <img src="@{'/public/images/default_profile.jpg'}" class="img-circle">
                </div>
                <div class="col-md-7">
                    <p><strong>${user.nick}</strong></p>
                    <p>${user.city.name}</p>
                    <p><b>Дети: </b>
                        #{if user.childrens.empty}
                            <p>Нет</p>
                        #{/if}
                        #{else }
                            #{list items:user.childrens, as:'child'}
                            ${child.name}<br>
                            #{/list}
                        #{/else}

                    </p>


                </div>
            </div>




            <div class="row">
                <div class="col-md-8">
                    <h3>Безопасность</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Email: </b>
                        </div>
                        <div class="col-md-7">
                           ${user.email}
                        </div>
                        <div class="col-md-2">Изменить</div>
                    </div>

                            #{if user.secretQuestion != null}
                                <div class="row">
                                    <div class="col-md-3">
                                        <b>Секретный вопрос: </b>
                                    </div>
                                    <div class="col-md-7">
                                        ${user.secretQuestion.question}
                                    </div>
                                    <div class="col-md-2"><a>Изменить</a></div>
                                </div>
                            #{/if}
                            #{else}
                            <div class="row">
                                <div class="col-md-10">
                                    <p><b>Секретный вопрос: </b> нет</p>
                                </div>
                                    <div class="col-md-2">Установить</div>
                            </div>
                            #{/else}


                    </div>
                <div class="col-md-4"></div>

            </div>



        </div>
    </div>
</div>